# Automatically require code review from core-team.
* @theQRL/core-team

# Starlark code owners
# *.bzl @prestonvanloon

# Anyone on prylabs team can approve dependency updates.
deps.bzl @theQRL/core-team